@page "/"

<div class="rz-mx-auto rz-w-100 main-display rz-w-md-75 ">

    <div style="width: 100%; height: 300px;background-position: 50% 50%; background-image: url(sweetlightseerheroimage.png); background-repeat: no-repeat;"></div>

    <RadzenText style="margin-top:1rem;" TextStyle="TextStyle.H4" TextAlign="TextAlign.Center">Bringing the energy of Tarot and the clarity of AI together</RadzenText>
    <RadzenText TextStyle="TextStyle.DisplayH5" TextAlign="TextAlign.Center">Schedule a reading</RadzenText>

    <CalendarScheduler/>
</div>
@code {
    
}