@page "/"

<div class="rz-mx-auto rz-w-100 main-display rz-w-md-75 ">

    <RadzenText class="rz-text-uppercase" TextStyle="TextStyle.DisplayH1" TextAlign="TextAlign.Center">Sweet Light Seer</RadzenText>
    <RadzenText TextStyle="TextStyle.H4" TextAlign="TextAlign.Center">Bringing the energy of Tarot and the clarity of AI together</RadzenText>
    <RadzenText TextStyle="TextStyle.DisplayH6" TextAlign="TextAlign.Center">Schedule a reading</RadzenText>

    <CalendarScheduler/>
</div>
@code {
    
}